body{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF8C00;
}
nav li{ 
    display: inline-flex;
    text-transform: uppercase;
    color: #020202;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}
nav li:hover{
    color: white;
    cursor: pointer;
    text-decoration: overline;
}
img{
    width: 180px;
    height: auto;
}
.infos{
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0;
}
.infos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
}
.infos li:hover{
    border-color: #FF8C00;
}
.infos li:active{
    border-color: darkblue;
}
.infos li:hover h2{
    font-size: 40px;
}
.infos h2{
    font-size: 35px;
    font-weight: bold;
}
.descricao{
    font-size: 19px;
}
footer{
    text-align: center;
    background: #000000;
}
footer img{
    width: 400px;
    height: auto;
}
