@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
:root{
    font-family:'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF8C00;
}
nav li{ 
    display: inline-flex;
    text-transform: uppercase;
    color: #020202;
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}
nav li:hover{
    color: white;
    cursor: pointer;
}
img{
    width: 150px;
    height: auto;
}